@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-burgundy {
  color: #800000;
}

.font-georgia {
  font-family: Georgia, sans-serif;
}

.font-segoe {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

.career-paths .searchWrapper {
  border: none !important;
  box-shadow: none !important;
}

.career-paths .searchBox {
  color: white;
}
.career-paths .highlightOption, .career-paths .chip, .career-paths li:hover {
  background-color: #800000 !important;
}

.timeline_pagination_slider .swiper-slide-active span {
  @apply text-3xl opacity-100;
}

.university_description ul {
  @apply list-disc list-inside flex flex-wrap gap-3 lg:gap-5
}

.responsive-table thead tr {
  @apply bg-[#FFCC33] h-10
}

.responsive-table tbody tr {
  @apply shadow-[0px_3px_6px_#00000029] lg:h-15
}

.responsive-table table tbody tr:nth-child(even) {
  @apply bg-[#FFF9E6];
}

@media (max-width: 768px) {
  .responsive-table table thead {
    @apply hidden;
  }

  .responsive-table table,
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table td {
    @apply block w-full;
  }

  .responsive-table table td {
    @apply relative text-left py-2;
    padding-left: 50%;
  }

  .responsive-table table td::before {
    content: attr(data-label);
    @apply absolute left-4 top-1/2 -translate-y-1/2 font-semibold w-[45%];
  }
}

form select, form input, form textarea {
  @apply outline-none
}

form select {
  @apply w-full pr-10 appearance-none
}

form .error {
  @apply opacity-0 h-2 py-2
}

form .error span {
  @apply text-sm
}