@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-burgundy {
  color: #800000;
}

.font-georgia {
  font-family: Georgia, sans-serif;
}

.font-segoe {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

.career-paths .searchWrapper {
  border: none !important;
  box-shadow: none !important;
}

.career-paths .searchBox {
  color: white;
}
.career-paths .highlightOption, .career-paths .chip, .career-paths li:hover {
  background-color: #800000 !important;
}

.timeline_pagination_slider .swiper-slide-active span {
  @apply text-3xl opacity-100;
}

.university_description ul {
  @apply list-disc list-inside flex flex-wrap gap-3 lg:gap-5
}